<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--settings:  包含很多重要的设置-->
    <settings>
        <!--驼峰命名：数据库中字段包含下划线的情况要必须要设置  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>

        <!--使用别名-->
       <!-- <setting name="useColumnLabel" value="true"></setting>-->

        <!--使用数据库自增主键-->
        <!--<setting name="useGeneratedKeys" value="true"></setting>-->

        <!--显示指定每个我们需要更改的配置的值，即使他是默认的，防止版本更新带来的问题  ， 延迟加载默认为false-->
        <!-- 一级缓存 -->
        <!-- <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>		 -->
        <!-- 二级缓存 -->
        <!-- <setting name="cacheEnabled" value="true"/>	 -->
        <!--log日志配置  -->
        <!-- <setting name="logImpl" value="STDOUT_LOGGING"/>   -->
        <!-- <setting name="logImpl" value="LOG4J"/>-->
    </settings>
    <!--别名处理  -->
    <!--<typeAliases>
        <typeAlias type="com.zyp.entity.UserBO" alias="userBO"/>
        <typeAlias type="com.zyp.entity.GoodsBO" alias="goodsBO"/>
        <typeAlias type="com.zyp.entity.ItemBO" alias="itemBO"/>
    </typeAliases>-->
</configuration>